//Fonts
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic|Dawning+of+a+New+Day|Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

//Vendors
@import "vendors/bootstrap/bootstrap";

//Utils
@import "utils/variables";
@import "utils/quick-classes";

//Base
@import "base/normalize";
@import "base/base";
@import "base/typography";
@import "base/header";
@import "base/footer";

//Components
@import "components/buttons";
@import "components/collage";
@import "components/nav";
@import "components/images";
@import "components/cards";

//Pages
@import "pages/home";
