.btn-sketch{
	background: $light-grey;
	padding: 10px;
	font-size: 16px;
	color: $body;
	border-radius: 0;

	&:hover{
		background: $body;
		color: $paper;
	}

	.btn-sketch-inner{
		border: solid 1px $border;
		padding: 10px;
		text-align: center;

		&:hover{
			border-color: $paper;
		}
	}
}

.btn-social{
	width: 66px;
	margin-right: 6px;
}