.btn{
	border-radius: 0;
}

.btn-lg{
	font-size: 14px;
	line-height: 26px;
}

.btn-sketch{
	background-color: $paper;
	color: $body;
	border: solid 1px $border;

	&:hover{
		background-color: $light-grey;
		color: $body;
		border: solid 1px $border;
	}
}

.btn-primary, .btn-primary:focus{
	background-color: $body;
	color: $paper;
	border-color: transparent;

	&:hover{
		background-color: $dark-grey;
		color: $paper;
		border-color: transparent;
	}
}

.btn-social{
	// width: 48px;
	margin-right: 8px;
}