.card{
	background: $light-grey;
	display: block;
	padding: 10px;

	.card-inner{
		border: solid 1px $border;
		padding: 24px;
	}
}

.card-numbered{
	background: $paper;
	display: block;
	padding: 10px;
	position: relative;
	margin-top: 50px;

	.number{
		position: absolute;
		top: -14px;
		left: calc(50% - 25px);
		font-family: 'Merriweather', serif;
		font-weight: 700;
		color: $dark-grey;
		font-size: 18px;
		text-ailgn: center;
		padding: 12px;
		border: solid 1px $border;
		background: $paper;
		border-radius: 25px;
    height: 50px;
    width: 50px;
	}

	.card-inner{
		background: $paper;
		border: solid 1px $border;
		padding: 24px;
		transition: background .2s ease-in-out;

		&:hover{
			background: $light-grey;
		}
	}
}

#contact-card{

	@media(min-width: 1024px){
		background-image: url('../img/contact-bg.svg');
		background-position: center center;
		background-size: initial;
		background-repeat: no-repeat;
	}

	.card-inner{
		position: relative;
	}
}