  .collage{

    .container-fluid, .col-md-8, .col-md-4, .col-md-6, .col-md-12{
      padding: 0;
    }

    .height-50{
      height: 30vh;
      position: relative;
      min-height: 400px;
      border: solid 1px white;
      vertical-align: middle;
      background-size: 110% auto;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all .5s ease-in-out;

      span{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 110px 0;
        background-color: rgba(77, 77, 77, .3);
        transition: background-color .5s ease-in-out;

        &:hover{
          background-color: rgba(77, 77, 77, .6);
        }
      }

      @media(min-width: 992px){
        min-height: 300px;
      }
    }

    .height-30{
      height: 20vh;
      position: relative;
      min-height: 400px;
      border: solid 1px white;
      vertical-align: middle;
      background-size: 110% auto;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all .5s ease-in-out;

      span{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 65px 0;
        background-color: rgba(77, 77, 77,.3);
        transition: background-color .5s ease-in-out;

        &:hover{
          background-color: rgba(77, 77, 77, .6);
        }
      }

      @media(min-width: 992px){
        min-height: 200px;
      }
    }

    #fav-1{
      background-image: url('../img/fav-1.png');
      background-size: cover;
    }

    #fav-2{
      background-image: url('../img/fav-2.png');
      background-size: cover;
    }

    #fav-3{
      background-image: url('../img/fav-3.png');
      background-size: cover;
    }

    #fav-4{
      background-image: url('../img/fav-4.png');
      background-size: cover;
    }

    #fav-5{
      background-image: url('../img/fav-5.png');
      background-size: cover;
    }

    #fav-6{
      background-image: url('../img/fav-6.png');
      background-size: cover;
    }

  }