.learn-more-image{
	position: relative;
	
	img{
		width: 100%;
		height: auto;
	}

	.learn-more{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity ease-in-out .2s;
		text-align: center;
		padding-top: calc(50% - 16px);
		text-decoration: none;

		&:hover{
			opacity: 1;
			display: inherit;
			background-color: rgba(0,0,0,.3);
			cursor: pointer;
		}
	}
}