table{
  border: solid 6px $light-grey;

  tr{
    td, th{
      padding: 1rem!important;

      &.right{
        text-align: right;
      }
    }
  }
}

.table-hover{
  tbody{
    tr{
      &:hover{
        background-color: $light-grey!important;
      }
    }
  }
}
