.signup{
  min-height: 240px;
  background-image: url('../img/signup_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    background-image: url('../img/signup_bg@2x.png');
  }
}

.footer{
  background-color: $dark-grey;

  p{
    line-height: 1.7;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255,255,255,.5);
  }

  a{
    color: rgba(255,255,255,.5);
    text-decoration: none!important;
    font-weight: 400;

    &:hover{
      color: $primary-blue;
      text-decoration: none!important;
    }
  }

  svg{
    opacity: 0.4;
  }
}
