footer{
	padding-bottom: 60px;

	.logo-break{
		position: relative;
		padding: 60px 0 10px 0;

		img{
			width: 100px;
			height: 100px;
			position: relative;
			z-index: 50;
		}

		.break{
			position: absolute;
			z-index: 1;
			top: 116px;
			width: 100%;
			display: block;
			border-bottom: solid 1px $border;
		}
	}

	.contact-details{
		padding-top: 24px;
	}

	h3{
		margin: 0;
	}

	address{
		margin: 12px 0;
	}

	a{
		color: $body;

		&:hover{
			text-decoration: none;
			color: $dark-grey;
		}
	}

}