.curly-top{
  display: block;
  width: 100%;
  text-align: center;
  height: 24px;
  margin-top: -6px;
  background-image: url('../img/curly-border.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @media all and (-webkit-min-device-pixel-ratio: 2) {
    background-image: url('../img/curly-border@2x.png');
  }
}

.nav-bordered{
  border-bottom: solid 1px $border;
}