header{

  &.hero{
    min-height: 450px;
  }

  .navbar-brand{
    margin: 0;
  }

  .nav{
    padding-top: 15px;

    li{

      a {
        border-radius: 4px;
        color: $paper;
        padding: 0.5rem;
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.1;
        display: inline-block;

        &:hover,
        &:focus, {
          color: $paper;
          background-color: rgba(225,225,225,.2);
          text-decoration: none;
        }
      }
    }
  }
}

//Secondary Nav
.secondary-nav-wrapper{
  background-color: $dark-grey;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  z-index: 1000;
  height: 80px;

  .title{
    display: inline-block;
    font-weight: 300;
    font-size: 1.2rem;
    color: $paper;
    margin-top: 0;
    margin: 0;
    padding: 1.1rem 0;
    float: left;
    vertical-align: baseline;

    svg{
      margin-right: 4px;
    }

    h3{
      display: inline-block;
      margin: 0;
    }
  }

  .menu{
    display: inline-block;
    padding: 1rem;

    .nav-pills {
      list-style-type: none;

      li {
        float: left;

        a {
          border-radius: 0;
          color: $paper;
          padding: 0.5rem 0;
          font-size: 0.8rem;
          line-height: 1.1;
          margin-right: 0.8rem;
          display: inline-block;

          &:hover {
            color: $paper;
            background-color: transparent;
            box-shadow: 0 4px 0 $primary-blue;
            text-decoration: none;
          }

          &:focus{
            box-shadow: none;
            background-color: transparent;
          }
        }
        + li {
          margin-left: 2px;
        }

        // Active state
        &.active > a {

          &,
          &:hover,
          &:focus {
            color: $paper;
            background-color: transparent;
            border-bottom: solid 4px $primary-blue;
          }
        }
      }
    }
  }

  .cta{
    padding: 1rem;

    .btn{
      margin-left: 8px;
    }
  }
}
