#api-page{

  #api-header{
    background-color: $teal;
    background-image: url('../img/hero_api.svg');
    background-position: bottom right;
    background-repeat: no-repeat;

    .description{
      padding: 2rem 0 24rem 0;

      @media(min-width: 1024px){
        padding: 2rem 0;
      }
    }
  }

  h3.check{
    &:before{
      content: url('../img/api_check.svg');
      padding-right: 10px;
    }
  }

  #api-features{
    background-image: url('../img/bg_features.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-grey;
    background-size: cover;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../img/bg_features@2x.png');
    }
  }

  #api-trial-callout{
    background-color: $teal;
  }

  #api-libraries{
    background-color: $grey;
  }

  #api-support{

    h3{
      margin-bottom: 2rem;
    }

    .documentation{

      ul{
        list-style-type: none;
        -webkit-padding-start: 0;

        li{

          a{
            font-size: 0.8rem;
            line-height: 2;
            font-weight: 400;
            color: $primary-blue;

            &:hover{
              color: darken($primary-blue, 10%);
            }

            &:before{
              content: url('../img/api_check.svg');
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}
