#community-page{

  #community-header{
    background-image: url('../img/hero_community.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-grey;
    background-size: cover;
    height: 240px;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../img/hero_community@2x.png');
    }
  }

  .container-fluid{
    padding-right: 0!important;
  }

  .main{
    margin-bottom: 2rem;
  }

  .sidebar{
    border-left: solid 6px $light-grey;
    margin: 2rem 0;
  }

  .card{
    background-color: $light-grey;
  }

  h4.election{

    &:before{
      content: url('../img/flag.svg');
      padding-right: 10px;
      display: inline-block;
    }
  }

}
