#home-page{
  
  #home-hero{
    width: 100%;
    display: block;
    height: 600px;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('../img/hero@2x.png');
    }

    img{
      max-width: 90%;
    }

    .hero_video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 10;
    }

    .logo{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      padding: 200px 0;
      text-align: center;
      z-index: 20;
    }
  }
}