#home-page{
  
  #home-hero{
    width: 100%;
    display: block;
    height: 600px;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 0;

    @media all and (-webkit-min-device-pixel-ratio: 2) {
      background-image: url('../img/hero@2x.png');
    }

    img{
      max-width: 90%;
    }
  }
}