#home-page{

  #home-header{
    min-height: 540px;
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-grey;
    background-size: cover;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../img/header@2x.jpg');
    }
  }

  #data{

    .container-fluid, .col-md-8, .col-md-4, .col-md-6, .col-md-12{
      padding: 0;
    }

    .height-50{
      height: 30vh;
      position: relative;
      min-height: 400px;
      background-color: $dark-grey;
      border: solid 1px white;
      vertical-align: middle;
      background-size: 110% auto;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 1s ease-in-out;

      span{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 100px 0;
        background-color: rgba(0,0,0,.5);
      }

      &:hover{
        background-size: 120% auto;
      }

      @media(min-width: 992px){
        min-height: 300px;
      }
    }

    .height-30{
      height: 20vh;
      position: relative;
      min-height: 400px;
      background-color: $dark-grey;
      border: solid 1px white;
      vertical-align: middle;
      background-size: 110% auto;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 1s ease-in-out;

      span{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 50px 0;
        background-color: rgba(0,0,0,.5);
      }

      &:hover{
        background-size: 120% auto;
      }

      @media(min-width: 992px){
        min-height: 200px;
      }
    }

    #data-countries{
      background-image: url('../img/slug_countries.png');
    }

    #data-nonleg{
      background-image: url('../img/slug_nonleg.png');
    }

    #data-leg{
      background-image: url('../img/slug_leg.png');
    }

    #data-events{
      background-image: url('../img/slug_events.png');
    }

    #data-assemblies{
      background-image: url('../img/slug_assemblies.png');
    }

    #data-officials{
      background-image: url('../img/slug_officials.png');
    }

  }

  .svg-wrapper-1{
    width: 280px;
    height: 280px;
  }

  #availability-map-container{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 600px;
    display: block;

    .map-title{
      padding: 16px 0;
      position: relative;
      z-index: 200;
      text-shadow: 0 0 10px black;
      width: 500px;
      margin: 0 auto;
    }

    .map{
      position: absolute;
      z-index: 100;
      width: 100%;
    }

    #availability-map-switcher{
      position: relative;
      width: 480px;
      margin: 0 auto;
      z-index:200;

      .nav-pills{
        li{
          a{
            color: $paper;
            font-weight: 700;

            &:hover, &.active{
              color: $paper;
              background-color: rgba(225,225,225,.4);
              text-decoration: none;
            }
          }

          &.active a{
            color: $paper;
            background-color: rgba(225,225,225,.4);
            text-decoration: none;
          }
        }
      }
    }

    #availability-map{
      width: 100%;
      height: 100%;
      background-color: $dark-grey;
      position: absolute;
      z-index: 100;
    }
  }

  #elected-official{

    .wrapper{
      display: block;
      position: relative;
      width: 100%;
    }

    .circle-inner{
      position: relative;
      width: 300px;
      height: 300px;
      margin: 100px auto;
      padding: 110px 0;

      img{
        position: absolute;
        top: -3px;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border: solid 6px $light-grey;
        text-align: center;
        z-index: 1;
      }

      h1, label{
        position: relative;
        z-index: 50;
      }
    }

    .circle-outter{
      position: relative;
      z-index: 50;
      width: 300px;
      height: 300px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      margin: 100px auto;
      border: none;
      text-align: center;

      @media(min-width: 768px){
        border: solid 6px $light-grey;
        width: 500px;
        height: 500px;
      }
    }

    .left{
      position: relative;
      display: block;
      padding: 2rem;
      display: block;
      width: 100%;
      float: left;

      @media(min-width:700px){
        width: 50%;
        display: inline-block;
      }

      @media(min-width:960px){
        position: absolute;
        top: 100px;
        padding: 0;
        float: none;
      }

      ul{
        -webkit-padding-start: 0!important;
        list-style-type: none;
        text-align: left;

        @media(min-width:960px){
          text-align: right;
        }

        li{
          font-size: 1rem;
          font-weight: 700;
          line-height: 50px;
          position: relative;
          z-index: 100;
          margin-right: 0;

          span{
            position: absolute;
            top: 30px;
            left: 140px;

            @media(min-width:960px){
              right: 140px;
              left: 0;
            }
          }
        }

        #official-web{

          &:before{
            content: url(../img/ic_web.svg);
          }

          @media(min-width:960px){
            margin-right: 90px;

            &:after{
              content: url(../img/ic_web.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }

        #official-email{

          &:before{
            content: url(../img/ic_email.svg);
          }

          @media(min-width:960px){
            margin-right: 180px;

            &:after{
              content: url(../img/ic_email.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }

        #official-phone{

          &:before{
            content: url(../img/ic_phone.svg);
          }

          @media(min-width:960px){
            margin-right: 180px;

            &:after{
              content: url(../img/ic_phone.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }

        #official-office{

          &:before{
            content: url(../img/ic_office.svg);
          }

          @media(min-width:960px){
            margin-right: 90px;

            &:after{
              content: url(../img/ic_office.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }
      }
    }

    .right{
      position: relative;
      padding: 2rem;
      display: block;
      width: 100%;
      float: left;

      @media(min-width:700px){
        width: 50%;
        display: inline-block;
      }

      @media(min-width:960px){
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        padding: 0;
        float: none;
      }

      ul{
        -webkit-padding-start: 0!important;
        list-style-type: none;

        li{
          font-size: 1rem;
          font-weight: 700;
          line-height: 50px;
          position: relative;
          z-index: 100;
          margin-left: 0;

          span{
            position: absolute;
            top: 30px;
            left: 140px;
          }
        }

        #official-twitter{

          &:before{
            content: url(../img/ic_twitter.svg);
          }

          @media(min-width:960px){
            margin-left: 90px;

            &:after{
              content: url(../img/ic_twitter.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }

        #official-facebook{

          &:before{
            content: url(../img/ic_facebook.svg);
          }

          @media(min-width:960px){
            margin-left: 180px;

            &:after{
              content: url(../img/ic_facebook.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }

        #official-youtube{

          &:before{
            content: url(../img/ic_youtube.svg);
          }

          @media(min-width:960px){
            margin-left: 180px;

            &:after{
              content: url(../img/ic_youtube.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }

        #official-linkedin{

          &:before{
            content: url(../img/ic_linkedin.svg);
          }

          @media(min-width:960px){
            margin-left: 90px;

            &:after{
              content: url(../img/ic_linkedin.svg);
            }

            &:before{
              content: none!important;
            }
          }
        }
      }
    }
  } // End Elected Official

  #da-callout{
    background-color: $primary-blue;
  }

} // End Homepage
