#licensing-page{

  #licensing-header{
    background-color: $purple;
    background-image: url('../img/hero_licensing.svg');
    background-position: bottom right;
    background-repeat: no-repeat;

    .description{
      padding: 2rem 0 24rem 0;

      @media(min-width: 1024px){
        padding: 2rem 0;
      }
    }
  }

  #licensing-delivery{
    background-image: url('../img/bg_features.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $dark-grey;
    background-size: cover;

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
      background-image: url('../img/bg_features@2x.png');
    }
  }

  #licensing-pricing{

    .well{
      border: none!important;
      background-color: $light-grey;
      box-shadow: none!important;
      padding: 3rem;
      margin-top: 2rem;
      border-radius: 0!important;
    }
  }
}
