//Colors
$paper:                 #ffffff;
$light-grey:            #eaebef;
$grey:                  #465157;
$dark-grey:             #353f46;
$primary-blue:          #4bbde0;
$body:                  #434549;
$green:                 #77de6e;
$teal:                  #2bc6bd;
$purple:                #935ab4;
$gold:                  #e2b72a;

//Tables
$table-cell-padding:    1rem;
$table-bg-hover:        #eaebef;
